@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }


  .sidebar {
    
    background-color: #eee;
    border-width: 0px 1px 0px 0px;
    border-color: black;
    display: flex;
    align-items: top; 
    justify-content: space-between;
    padding: 80px;
  }
  .sidebar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    transition: font-size 0.1s;
    width: 80px;
  }
  .sidebar ul li:hover {
    font-size: 1.2em;
  }
  
  .content {
    flex: 1;
    background-color: #e0d6b4d0;
    padding: 5%;
    margin: 1%;
    border-radius: 0px 100px 0px 100px;
    
  
  }
  .title-input::placeholder {
    color: transparent;
  }

  nav:hover .nav-links {
    visibility: visible;
  }